@media only screen and (min-width:200px) and (max-width:991px){
    .navcontainer{
        position: fixed;
        width: 100%;
        border-top: 5px solid #ff3e41;
    }
    .navlinks ul{
        display: none;
    }
    .logo{
        position: relative;
        height: 75px;
        width: 55%;
        background-color: #ff3e41;
    }
    .logo h1{
        top: 20px;
        left: 70px;
    }
    .checkbtn{
        position: absolute;
        display: block;
        width: 12%;
        top: 13px;
        left: 19rem;
        font-size: 35px;
        border: 3px solid black;
    }
    .checkbtn i{
        position: relative;
        right: 1px;
    }
    .navlinks ul{
        position: absolute;
        background-color: #ffffff;
        width: 20rem;
        height: 35.5rem;
        left: 0px;
        top: 75px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .navlinks a{
        position: relative;
        top: 5px;
        right: 7rem;
        line-height: 2;
        font-size: 18px;
        font-weight: 400;
    }
    .navlinks p{
        display: none;
    }
    .active a{
        color: #ff3e41;
    }
    .navlinks a:hover{
        border-top: none;
    }
    .navlinks li:hover .downer{
        position: relative;
        display: block;
        height: 235px;
        width: 240px;
        top: 10px;
        left: 10px;
        color: black;
        text-align: center;
        border: 2px solid #808080;
    }
    .downer li a{
        top: 0px;
    }
    .downer li{
        position: relative;
        top: 10px;
        left: 40px;
        margin-top: 0px;
    }
    #check:checked ~ ul{
        display: inline-block;
    }
    html{
        overflow-x: hidden;
    }
    /* home */
    .Homecontainer{
        height: 37.2rem;
        width: 100%;
    }
    .slidedata{
        position: absolute;
        height: 400px;
        width: 60%;
        top: 23%;
        left: 5%;
    }
    .slidedata h5{
        font-size: 20px;
    }
    .slidedata h1{
        position: relative;
        top: 20px;
        font-size: 30px;
    }
    .slidedata p{
        position: relative;
        width: 100%;
        top: 40px;
    }
    .slidedata .b2{
        position: relative;
        height: 30px;
        width: 100px;
        font-size: 15px;
        top: 60px;
    }
    .slidedata .b3{
        position: relative;
        height: 30px;
        width: 100px;
        font-size: 15px;
        top: 60px;
    }
    .slider .arrows-left{
        left: 80%;
        top: 38%;
    }
    .slider .arrows-right{
        right: 11%;
    }
    /* about */
    .aboutcontainer{
        height: 63rem;
        width: 100%;
    }
    .aboutsection{
        position: relative;
        top: 10px;
    }
    .about-full{
        display: block;
    }
    .abo-pics{
        position: relative;
        height: 20rem;
        width: 90%;
        left: 5%;
        top: 1.5rem;
    }
    .abo-pics img{
        height: 100%;
        width: 100%;        
    }
    .abo-content{
        position: relative;
        height: 30rem;
        width: 100%;
        top: 80px;
        left: 2%;
        padding: 0 1rem;
    }
    .abo-content h3{
        position: relative;
        top: 70px;
        left: 27px;
    }
    .abo-content h1{
        position: relative;
        top: 75px;
        font-size: 25px;
    }
    .abo-content p{
        position: relative;
        top: 90px;
        width: 100%;   
    }
    .abou{
        display: block;
    }
    .abou-1{
        width: 100%;
    }
    .abou-1 i{
        position: relative;
        top: 25px;
        font-size: 30px;
    }
    .abou-1 h2{
        position: relative;
        top: 35px;
        font-size: 20px;
    }
    .abou-1 p{
        position: relative;
        width: 100%;
        top: 50px;
        font-size: 18px;
    }
    .abou-2 i{
        position: relative;
        top: 70px;
        font-size: 30px;
    }
    .abou-2 h2{
        position: relative;
        top: 80px;
        font-size: 20px;
    }
    .abou-2 p{
        position: relative;
        width: 100%;
        top: 90px;
        font-size: 18px;
    }
    .abo-content .b4{
        position: relative;
        height: 30px;
        width: 100px;
        font-size: 15px;
        top: 205px;
        left: 33px;
    }
    /* some facts */
    .factcontainer{
        height: 65rem;
        width: 100%;
    }
    .factsection{
        display: block;
    }
    .facting{
        position: relative;
        width: 100%;
        left: 7%;
        height: 24rem;
    }
    .facting h1{
        position: relative;
        bottom: 20px;
        font-size: 25px;
    }
    .facter{
        position: relative;
        top: 35px;
    }
    .facting p{
        position: relative;
        top: 10px;
        font-size: 18px;
    }
    .factes h3{
        width: 100%;
    }
    .facting2{
        position: relative;
        display: block;
        width: 90%;
        left: 5%;
    }
    .facted{
        position: relative;
        bottom: 80px;
        
    }
    .facted1{
        position: relative;
        width: 90%;
        left: 5%;
    }
    .facted2{
        position: relative;
        width: 90%;
        left: 5%;
    }
    .facted3{
        position: relative;
        width: 90%;
        left: 5%;
        top: 53px;
        
    }
    /* services */
    .servicecontainer{
        height: 186rem;
        width: 100%;
    }
    .heading4 h1{
        font-size: 25px;
    }
    .ser-card1{
        display: block;
    }
    .ser-cardes{
        position: relative;
        width: 90%;
        left: 3%;
        margin-top: 30px;
    }
    .ser-card2{
        display: block;
    }
    .ser-cardes1{
        position: relative;
        width: 90%;
        top: 57.5rem;
        left: 3%;
        margin-top: 30px;
    }
    .iconic{
        position: relative;
        top: 50px;
    }
    .hoved{
        left: 45px;
        top: 364px;
    }
    /* features */
    .featurecontainer{
        height: 68rem;
        width: 100%;
    }
    .featuresection{
        display: block;
    }
    .featured1{
        position: relative;
        width: 100%;
        left: 7%;
    }
    .featured1 h1{
        font-size: 25px;
    }
    .feat2 h2{
        font-size: 21px;
    }
    .feat2 p{
        top: 5px;
        font-size: 18px;
    }
    .feat4 h2{
        font-size: 21px;
    }
    .feat4 p{
        top: 5px;
        font-size: 18px;
    }
    .feat6 h2{
        font-size: 21px;
    }
    .feat6 p{
        top: 5px;
        font-size: 18px;
    }
    .featured2{
        position: relative;
        height: 20rem;
        width: 90%;
        left: 5%;
        top: 100px;
    }
    .featured2 figure img{
        height: 100%;
        width: 100%;
    }
    /* plan */
    .plancontainer{
        height: 100rem;
        
    }
    .heading6{
        position: relative;
        top: 65px;
    }
    .heading6 h1{
        font-size: 25px;
    }
    .planed{
        display: block;
    }
    .planed1{
        position: relative;
        width: 95%;
        right: 20px;
        bottom: 10px;
        margin-top: 30px;
    }
    .hoved1{
        top: 361px;
    }
    /* quote */
    .quotecontainer{
        height: 70rem;
        width: 100%;
    }
    .quotesection{
        display: block;
    }
    .quoting{
        position: relative;
        width: 100%;
        left: 7%;
        top: 5px;
    }
    .quoting h1{
        font-size: 25px;
    }
    .quoting1{
        position: relative;
        width: 90%;
        height: 40rem;
        left: 5%;
        top: 10px;
    }
    .ros1{
        display: block;
    }
    .ros2{
        position: relative;
        display: block;
    }
    .ros1 input{
        position: relative;
        width: 90%;
        left: 0%;
        margin-top: 30px;
    }
    .ros2 input{
        position: relative;
        width: 90%;
        left: 0%;
        bottom: 10px;
    }
    .input-group .form-select{
        position: relative;
        left: 18px;
        width: 90%;
        top: 18px;
    }
    .special{
        position: relative;
        width: 90%;
        left: 17px;
    }
    
    /* team */
    .teamcontainer{
        height: 115rem;
        
    }
    .heading7 h1{
        font-size: 25px;
    }
    .teammates{
        display: block;
    }
    .teames{
        position: relative;
        width: 90%;
        right: 1.2%;
        bottom: 90px;
        margin-top: 30px;
    }
    /* testimonial */
    .testicontainer{
        height: 38rem;
        width: 100%;
    }
    .heading7 h1{
        font-size: 25px;
    }
    .redder{
        height: 300px;
        width: 300px;
        border-radius: 10px;
        margin-top: 60px;
        margin-left: 13%;
        overflow: hidden;
        background-color: #ffff;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    }
    .redders{
        height: 200px;
        width: 500%;
        display: flex;
    }
    .redders input{
        display: none;
    }
    .redde{
        width: 20%;
        transition: 2s;
        float: left;
    }
    .redde img{
        position: relative;
        height: 110px;
        width: 110px;
        top: 30px;
        left: 30px;
    }
    .dum{
        position: relative;
        height: 70px;
        width: 140px;
        bottom: 55px;
        left: 170px;
    }
    .dum h1{
        position: relative;
        right: 17px;
        font-size: 20px;
    }
    .dum h4{
        position: relative;
        left: -11px;
    }
    .dum1{
        position: relative;
        top: -30px;
    }
    .redde p{
        position: relative;
        width: 80%;
        left: 30px;
        top: -28px;
    }
    .navigation-manual{
        position: absolute;
        width: 320px;
        margin-top: 130px;
        left: 10%;
        justify-content: center;
        display: flex;
        z-index: 1;
    }
    .manual-btn{
        border: 3px solid #06a3da;
        padding: 5px;
        cursor: pointer;
        border-radius: 10px;
        margin-left: 20px;
        margin-bottom: 100px;
        transition: 1s;
    }
    .manual-btn:hover{
        background-color: rgb(0, 0, 0);
    }
    #radio1:checked ~ .first{
        margin-left: 0%;
    }
    #radio2:checked ~ .first{
        margin-left: -20%;
    }
    #radio3:checked ~ .first{
        margin-left: -40%;
    }
    #radio4:checked ~ .first{
        margin-left: -60%;
    }
    /* footer */
    .footcontainer{
        height: 86rem;
        width: 100%;
    }
    .footed{
        display: block;
    }
    .cont-1{
        position: relative;
        left: 10px;
    }
    .cont-2{
        position: relative;
        left: 10px;
    }
    .cont-3{
        position: relative;
        left: 10px;
    }
    .cont-4{
        position: relative;
        width: 90%;
        height: 200px;
        left: 10px;
        top: -40px;
        border: 2px solid white;
        
    }
    .cont-4 h1{
        left: 10px;
    }
    .cont-4 p{
        position: relative;
        width: 100%;
        left: 10px;
    }
    .cont-4 .rown{
        position: relative;
        width: 90%;
        left: 10px;
       
    }
    .cont-4 .rown1{
        left: 13rem;
    }
    .rown2{
        
        top: 55rem;
    }
    .deck{
        position: relative;
        width: 90%;
        left: 5%;
        top: 55rem;
    }
    .deck .uod1{
        
        top: 10px;
        left: 40px;
        font-size: 20px;
        color: #ffff;
    }
    .deck .uod2{
        
        top: 30px;
        margin-left: 25%;
        font-size: 20px;
        color: #ffff;
    
    }
    .arrowed{
        position: fixed;
        height: 40px;
        width: 40px;
        left: 80%;
        bottom: 120px;
        padding: 14px;
        background-color: #ff3e41;
        color: #ffffff;
    }
    .arrowed i{
        position: relative;
        bottom: 5px;
    }
}

